.block {
	width: 1200px;
	height: 600px;
	background-color: #fdde7e;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 0 20px 0px grey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;		
}

.block__item {
	min-width: 360px;
	min-height: 445px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px 1px grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-right: 30px;	
}

.block__item:hover {
	height: 550px;
	box-shadow: 0 0 30px 5px #BDD259;
}

.block__item:last-child {
	margin-right: 0;
}

.item__cup {
	margin-bottom: 26px;
}

.item__price {
	font-family: 'Miso-bold';
	font-size: 70px;
	color: #02995b;
	margin: 40px 0 20px;	
}

.item__material, .item__info {
	color: #333333;
}

.item__material {
	font-family: 'Miso Regular';
	font-size: 56px;
	margin-bottom: 40px;
}

.item__info {
	font-family: 'Lato Regular';
	font-size: 20px;
	text-align: center;
	width: 150px;
	line-height: 26px;
	margin-bottom: 40px;
}